ProyectoWeb/Connected Services/PizzasServiceReference/PizzasWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Listar">
        <s:complexType />
      </s:element>
      <s:element name="ListarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarResult" type="tns:ArrayOfPIZZAS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPIZZAS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PIZZAS" nillable="true" type="tns:PIZZAS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PIZZAS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IDPIZZA" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="TITULO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PRECIO" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="IMAGEN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ORDENES" type="tns:ORDENES" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ORDENES">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IDORDEN" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="IDPIZZA" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FECHA" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CANTIDAD" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="USUARIO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMPLEADOS" type="tns:EMPLEADOS" />
          <s:element minOccurs="0" maxOccurs="1" name="PIZZAS" type="tns:PIZZAS" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EMPLEADOS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="USUARIO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLAVE" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarSoapIn">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="ListarSoapOut">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:portType name="PizzasWSSoap">
    <wsdl:operation name="Listar">
      <wsdl:input message="tns:ListarSoapIn" />
      <wsdl:output message="tns:ListarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PizzasWSSoap" type="tns:PizzasWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PizzasWSSoap12" type="tns:PizzasWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap12:operation soapAction="http://tempuri.org/Listar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PizzasWS">
    <wsdl:port name="PizzasWSSoap" binding="tns:PizzasWSSoap">
      <soap:address location="http://localhost:39842/ws/PizzasWS.asmx" />
    </wsdl:port>
    <wsdl:port name="PizzasWSSoap12" binding="tns:PizzasWSSoap12">
      <soap12:address location="http://localhost:39842/ws/PizzasWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>